$wireframebg: #fff
$wireframefg: #001641
$testcolor: #00a478

@mixin device_length($device)
	@if $device == smartphone
		@media (min-width: 320px)
			@content
		@media (min-width: 480px)
	@else if $device == tablet
		@media (min-width: 768px)
			@content
		@media (min-width: 1024px)
	@else if $device == desk
		@media (min-width: 1224px)
			@content
	@else if $device == big_desk
		@media (min-width: 1824px)

=transform($translate)
	-webkit-transform: translateY($translate)
	-ms-transform: translateY($translate)
	transform: translateY($translate)

=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

=border-radius-separate-corners($tl, $tr, $bl, $br)
	-webkit-border-radius: $tl $tr $bl $br
	-moz-border-radius: $tl $tr $bl $br
	-ms-border-radius: $tl $tr $bl $br
	border-radius: $tl $tr $bl $br

@font-face
	font-family: "fontawesome"
	src: url('../fonts/fontawesome/fontawesome.eot?-ulzwqn')
	src: url('../fonts/fontawesome/fontawesome.eot?#iefix-ulzwqn') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome.woff?-ulzwqn') format('woff'), url('../fonts/fontawesome/fontawesome.ttf?-ulzwqn') format('truetype'), url('../fonts/fontawesome/fontawesome.svg?-ulzwqn#fontawesome') format('svg')
	font-weight: normal
	font-style: normal

body
	background: $wireframefg

.tiny_nav
	position: relative
	top: 0
	margin: 0
	padding: 10px 0 10px 0
	display: block
	background: $wireframefg
	-webkit-transition: 0.3s ease-in-out
	-moz-transition: 0.3s ease-in-out
	transition: 0.3s ease-in-out
	ul
		list-style: none

		li
			float: right
			display: inline
			padding: 0 5px 0 5px
		a
			color: $wireframebg

.tiny_nav_shrink
	position: fixed
	width: 100%
	height: auto
	z-index: 1002

.big_nav
	position: relative
	display: block
	padding: 20px
	z-index: 1000
	width: 100%
	height: auto
	text-align: center
	background: $testcolor
	-webkit-transition: 0.3s ease-in-out
	-moz-transition: 0.3s ease-in-out
	transition: 0.3s ease-in-out
	.big_nav_inner
		width: 90%
		max-width: 69em
		margin: 0 auto
	h1, h3, h4, a
		color: $wireframefg
	.nav_logo
		width: 45%
		display: inline
		margin: 0 25px 0 0
		h1
			display: inline-block
			margin: 0 auto
			line-height: 1.5
			font-size: 50px
		div
			display: inline-block
			h3, h4
				margin: 0 auto
				padding: 0
			h3
				letter-spacing: 13px
				font-size: 20px
			h4
				font-size: 11px
	.nav
		display: inline-block

.big_nav_shrink
	position: fixed
	margin: 10px 0 0 0
	padding: 0
	top: 2em
	.nav_logo
		// display: block
		// margin: 0 auto
		h1
			line-height: 1
			//font-size: 60px
		h1, h3, h4
			visibility: hidden
			display: none

/* reset  list style */
.big_nav_menu,
.big_nav_menu ul
	list-style: none

/* set menu position change here to set to relative or float, etc. */
.big_nav_menu
	display: inline
	position: relative
	z-index: 1002
	bottom: 0
	//width: 100%
	background: $testcolor
	text-align: center
	padding: 0
	margin: 0
	text-transform: capitalize
	.active
		background: $wireframebg

/* first level menu items */
.big_nav_menu > li
	display: inline-block
	margin: 0
	position: relative

.big_nav_menu > li > a
	line-height: 3em
	padding: 0 0.3em
	font-size: 1.2em
	display: block
	color: #000

.big_nav_menu > li > a:hover,
.big_nav_menu > li > a:active
	color: #02639d

/* sumbenu with transitions */
.cbp-tm-submenu
	position: absolute
	display: block
	visibility: hidden
	opacity: 0
	padding: 0
	text-align: left
	pointer-events: none
	-webkit-transition: visibility 0s, opacity 0s
	-moz-transition: visibility 0s, opacity 0s
	transition: visibility 0s, opacity 0s

.cbp-tm-show .cbp-tm-submenu
	width: 200%
	left: -50%
	margin: 0
	text-align: center
	opacity: 1
	visibility: visible
	pointer-events: auto
	-webkit-transition: visibility 0s, opacity 0.3s
	-moz-transition: visibility 0s, opacity 0.3s
	transition: visibility 0s, opacity 0.3s

.cbp-tm-show-above .cbp-tm-submenu
	bottom: 100%
	padding-bottom: 10px

.cbp-tm-show-below .cbp-tm-submenu
	top: 100%
	padding-top: 10px

/* extreme cases: not enough space on the sides */
.cbp-tm-nospace-right .cbp-tm-submenu
	right: 0
	left: auto

.cbp-tm-nospace-left .cbp-tm-submenu
	left: 0

/* last menu item has to fit on the screen */
.big_nav_menu > li:last-child .cbp-tm-submenu
	right: 0

.cbp-tm-submenu:after
	border: solid transparent
	content: " "
	height: 0
	width: 0
	position: absolute
	pointer-events: none

.cbp-tm-show-above .cbp-tm-submenu:after
	top: 100%
	margin-top: -10px

.cbp-tm-show-below .cbp-tm-submenu:after
	bottom: 100%
	margin-bottom: -10px

.cbp-tm-submenu:after
	border-color: transparent
	border-width: 16px
	margin-left: -16px
	left: 50%

.cbp-tm-show-above .cbp-tm-submenu:after
	border-top-color: #fff

.cbp-tm-show-below .cbp-tm-submenu:after
	border-bottom-color: #fff

.cbp-tm-submenu > li
	display: block
	background: #fff
	opacity: 1

.cbp-tm-submenu > li > a
	z-index: 1002
	padding: 10px /* top/bottom paddings in 'em' cause a tiny "jump" in Chrome on Win */
	display: block
	font-size: 1.2em
	position: relative
	color: #47a3da
	-webkit-transition: all 0.2s
	-moz-transition: all 0.2s
	transition: all 0.2s
	+border-radius(20px)

.cbp-tm-submenu > li:first-child
	+border-radius-separate-corners(20px, 20px, 0, 0)

.cbp-tm-submenu > li:last-child
	+border-radius-separate-corners(0, 0, 20px, 20px)

.cbp-tm-submenu > li > a:hover,
.cbp-tm-submenu > li > a:active
	color: #fff
	background: #47a3da

.cbp-tm-submenu li a:before
	position: absolute
	top: 50%
	margin-top: -0.5em
	right: 0.5em

.hero-main
	position: relative
	display: block
	width: 100%
	padding: 10em 0 2em 0
	z-index: 999
	background: #000
	color: $wireframebg
	-webkit-transition: 0.3s ease-in-out
	-moz-transition: 0.3s ease-in-out
	transition: 0.3s ease-in-out
	h1
		text-align: left
		font-size: 4em
		margin: 0 0 25px
	ul
		list-style: none
	p
		display: none
		visibility: hidden

.hero-main-shrink
	position: fixed
	top: 6em
	padding: 2em 0 0 0
	h1
		display: none
		visibility: hidden
	p
		visibility: visible
		display: block
		text-align: center
		font-size: 15px

.pictures
	margin: 6em 0 0 0

.component
	margin: 0 auto
	position: relative
	max-width: 100%

.component-fullwidth
	width: 100%
	max-width: 100%
	height: 600px
	background: #333

.component 
	ul
		width: 100%
		max-width: 100%
		height: 100%
		position: relative
		list-style: none
		padding: 0
		margin: 0 auto
		z-index: 0 //important for front or forward

.component-fullwidth
	ul
		overflow: hidden

.component li
	width: 100%
	height: 100%
	position: absolute
	top: 0
	left: 0
	pointer-events: none
	opacity: 0
	z-index: 999

.component-fullwidth li
	overflow: hidden

.component .current
	opacity: 1
	pointer-events: auto
	z-index: 1000

.component li img
	display: block
	max-width: 100%

.lines
	color: $wireframebg
	position: absolute
	z-index: 1001

.component-fullwidth .lines
	width: 25%
	height: auto
	border-top: 2px solid $wireframebg
	border-bottom: 2px solid $wireframebg
	left: 20%
	top: 40%

.component-fullwidth li span
	font-size: 4em

.component-fullwidth li p
	font-size: 2em

.component-fullwidth li img
	min-width: 100%
	max-width: none
	position: absolute
	left: 50%
	-webkit-transform: translateX(-50%)
	transform: translateX(-50%)

.component nav a
	position: absolute
	width: 60px
	height: 60px
	color: $wireframebg
	outline: none
	overflow: hidden
	text-align: center
	line-height: 200px
	top: 50%
	-webkit-transform: translateY(-50%)
	transform: translateY(-50%)

.component-fullwidth nav a
	position: absolute
	top: 600px
	margin-top: 25px
	left: 50%
	-webkit-transform: translateY(0%)
	-moz-transform: translateY(0%)
	transform: translateY(0%)

.component-fullwidth nav a.prev
	margin: -22em 0 0 -40%

.component-fullwidth nav a.next
	margin: -22em 0 0 30%

.component nav a::before
	position: absolute
	width: 100%
	line-height: 60px
	height: 100%
	font-family: 'fontawesome'
	font-size: 60px
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	opacity: 0.5
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.component nav a:hover::before
	opacity: 1

a.prev::before
	content: "\e601"

a.next::before
	content: "\e600"

/*****************************************/
/* Press away */
/*****************************************/

.fxPressAway .navOutNext
	-webkit-animation: slideOutScaleRight 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)
	animation: slideOutScaleRight 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)


.fxPressAway .navInNext
	opacity: 1
	-webkit-animation: slideInFromLeft 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)
	animation: slideInFromLeft 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)


.fxPressAway .navOutPrev
	-webkit-animation: slideOutScaleLeft 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)
	animation: slideOutScaleLeft 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)


.fxPressAway .navInPrev
	opacity: 1
	-webkit-animation: slideInFromRight 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)
	animation: slideInFromRight 1.2s forwards cubic-bezier(0.7, 0, 0.3, 1)


@-webkit-keyframes slideOutScaleRight
	from
		/* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to
		-webkit-transform: translateX(100%) scale(0.9)
		opacity: 0
	


@keyframes slideOutScaleRight
	from
		/* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to
		-webkit-transform: translateX(100%) scale(0.9)
		transform: translateX(100%) scale(0.9)
		opacity: 0
	


@-webkit-keyframes slideInFromLeft
	from
		-webkit-transform: translateX(-100%)
	to
		-webkit-transform: translateX(0)
	


@keyframes slideInFromLeft
	from
		-webkit-transform: translateX(-100%)
		transform: translateX(-100%)
	to
		-webkit-transform: translateX(0)
		transform: translateX(0)
	


@-webkit-keyframes slideOutScaleLeft
	from
		/* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to
		-webkit-transform: translateX(-100%) scale(0.9)
		opacity: 0
	


@keyframes slideOutScaleLeft
	from
		/* Fixes Chrome issue 35.0.1916.114 (easing breaks) */
	to
		-webkit-transform: translateX(-100%) scale(0.9)
		transform: translateX(-100%) scale(0.9)
		opacity: 0
	


@-webkit-keyframes slideInFromRight
	from
		-webkit-transform: translateX(100%)
	to
		-webkit-transform: translateX(0)
	


@keyframes slideInFromRight
	from
		-webkit-transform: translateX(100%)
		transform: translateX(100%)
	to
		-webkit-transform: translateX(0)
		transform: translateX(0)

.news
	position: relative
	padding: 3em 10%
	background: $wireframebg
	color: $wireframefg
	h2
		text-align: center
		margin: 0 0 25px
	ul
		list-style: none

.main_content
	position: relative
	padding: 3em 10%
	background: $wireframebg
	color: $wireframefg

.main_content_slideUp
	margin: 15% 0

.side_menu
	display: inline-block
	position: absolute
	width: 150px

.ca-menu
	padding: 0
	margin: 0
	width: 100%
	display: inline-block
	background: #000
	li
		width: 100%
		height: auto
		overflow: hidden
		margin: 0 0 10px 0
		transition: all 300ms ease-in-out
		a
			display: block
			margin: 0 10px
			padding: 10px
		a.ca-header
			background: $testcolor
			color: #000

.ca-menu > li > a.ca-header::before
	display: inline-block
	position: absolute
	content: ''
	width: 0 
	height: 0
	border-top: 20px solid transparent
	border-bottom: 20px solid transparent
	border-right: 0 solid transparent
	border-left: 20px solid $testcolor
	margin: -10px 0 0 120px

.ca-menu > li > a.ca-header:hover::before
	border-top: 20px solid transparent
	border-bottom: 20px solid transparent
	border-right: 0 solid transparent
	border-left: 20px solid $testcolor

.nav_courses
	display: block
	background: $testcolor
	.thumbnail_link
		position: relative
		list-style: none
		float: left
		margin: 50px 30px 0 20px
		padding: 0 20px
		text-align: center
		a
			display: block
			width: 100px
			height: 100px
			background: $wireframefg
			+border-radius(20px)

.articles
	display: inline-block
	position: relative
	margin: 0 0 0 20%

footer
	background: $wireframefg
	.socials
		width: 100%
		height: auto
		padding: 70px 0 20px 0
	.stripe
		padding: 2px 0 2px
		background: $wireframebg
	.container
		span
			margin: 6px
			display: inline-block
			width: 50px
			height: 50px
			background: $testcolor
			+border-radius(10px)
	.nav_logo
		color: $wireframebg
		width: 45%
		display: inline
		h1
			display: inline-block
			margin: 0 auto
			line-height: 1.5
			font-size: 50px
		div
			display: inline-block
			h3, h4
				margin: 0 auto
				padding: 0
			h3
				letter-spacing: 13px
				font-size: 20px
			h4
				font-size: 11px
	.contact_details
		float: right
		color: $wireframebg
		font-size: 11px

	.copyright_details
		margin: 50px 0 10px 0
		color: $wireframebg
		font-size: 10px

=transform($xpercent, $deg)
	-webkit-transform: translateX($xpercent) rotate($deg)
	-moz-transform: translateX($xpercent) rotate($deg)
	-ms-transform: translateX($xpercent) rotate($deg)
	transform: translateX($xpercent) rotate($deg)

=skewTransform($deg)
	-webkit-transform: skew($deg)
	-moz-transform: skew($deg)
	-o-transform: skew($deg)
	-ms-transform: skew($deg)
	transform: skew($deg)

.section_triangles::before
	position: absolute
	content: ''
	pointer-events: none
	z-index: 999
	left: 19%
	width: 30%
	height: 30px
	bottom: -5px
	background-color: $wireframebg
	+skewTransform(55deg)

.section_triangles::after
	position: absolute
	content: ''
	pointer-events: none
	right: 19%
	width: 30%
	height: 30px
	bottom: -5px
	background-color: $wireframebg
	+skewTransform(-55deg)

.section_rectangles::before
	position: absolute
	content: ''
	pointer-events: none
	z-index: 999
	left: 0
	width: 30%
	height: 30px
	bottom: -5px
	background-color: $wireframebg

.section_rectangles::after
	position: absolute
	content: ''
	pointer-events: none
	right: 0
	width: 30%
	height: 30px
	bottom: -5px
	background-color: $wireframebg

section::before,
section::after
	position: absolute
	content: ''
	pointer-events: none

.section_news_triangles::after
	left: 50%
	width: 30px
	height: 30px
	+transform(-50%, 45deg)

.section_news_triangles::after
	bottom: -10px
	z-index: 10
	background: inherit